<form #taskForm="ngForm" (submit)="onSubmit(taskForm)" [ngClass]="{'ngError': !taskForm.valid}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <md-input-container>
          <input mdInput
                 placeholder="Campaña"
                 name="campaign"
                 #campaign="ngModel"
                 [(ngModel)]="task.campaign"
                 required>
          <md-hint *ngIf="!campaign.valid && campaign.touched">
            <span *ngIf="campaign.errors.required">Este campo es requerido</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-lg-4">
        <div class="wrap-md-select">
          <md-select placeholder="Estado" [(ngModel)]="task.status" name="status" #status="ngModel" required>
            <md-option value="draft">Borrador</md-option>
            <md-option value="publish">Publicado</md-option>
            <md-option value="locked">Bloqueado</md-option>
          </md-select>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <md-input-container type="date">
          <input mdInput
                 placeholder="Fecha"
                 type="text"
                 [(ngModel)]="task.date"
                 #date="ngModel"
                 name="date">
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <md-input-container>
          <input mdInput
                 type="text"
                 placeholder="Marca"
                 name="brand"
                 [(ngModel)]="task.brand"
                 required
                 #brand="ngModel">
          <md-hint *ngIf="brand.touched && !brand.valid">
            <span *ngIf="brand.errors.required">Este campo es requerido</span>
          </md-hint>
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <md-input-container>
          <input mdInput
                 placeholder="Web Service"
                 [(ngModel)]="task.webservice"
                 name="webservice"
                 type="text"
                 #webservice="ngModel"
                 required>
          <md-hint *ngIf="webservice.touched && !webservice.valid">
            <span *ngIf="webservice.errors.required">Este campo es requerido</span>
          </md-hint>
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <button md-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Guardar</button>
      </div>
      <div class="col-lg-6 text-center">
        <button md-raised-button color="primary" (click)="dialogRef.close(user)">Cancelar</button>
      </div>
    </div>
  </div>
</form>

