<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="icon-wrap">
          <i class="material-icons">&#xE8B6;</i>
        </span>
        <md-input-container>
          <input mdInput placeholder="Buscar" #search (input)="filters(search.value)">
        </md-input-container>
      </div>
    </div>
    <div class="col-lg-1">
      <button md-raised-button color="primary" (click)="openModalForm('new')"><md-icon>add</md-icon> Agregar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 ngFor-space" *ngFor="let task of tasks">
      <md-card>
        <span class="card-status" [ngClass]="'status-'+task.status">
          <i class="material-icons">{{task.status=='locked' ? 'lock' : 'fiber_manual_record'}}</i>
        </span>
        <div class="card-header">
          <div class="card-title">{{task.campaign}}</div>
          <div class="card-subtitle">{{task.date}}</div>
        </div>
        <md-card-content>
          <p>{{task.brand}}</p>
        </md-card-content>
        <div class="md-card-options">
          <div class="options-wrap">
            <button type="button" class="btn btn-secondary"><i class="material-icons icon-sm">&#xE872;</i></button>
            <button type="button" class="btn btn-secondary" (click)="openModalForm(task.id)"><i class="material-icons icon-sm">&#xE254;</i></button>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
