<md-card class="login-card">
  <form #heroForm="ngForm" (submit)="submit(heroForm)" [ngClass]="{'ngError': !heroForm.valid}">
    <md-card-title class="text-center">Data Enriquecida</md-card-title>
    <div class="col-12 text-center">
        <md-input-container class="mdInput">
        <input mdInput
               #email="ngModel"
               placeholder="Ingrese su usuario"
               name="email"
               [(ngModel)]="user.email"
               ngModel
               type="text"
               required
               autocomplete="off" >
        <md-hint *ngIf="!email.valid && email.touched">
          <span *ngIf="email.errors.required">Este campo es requerido</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-12 text-center">
      <md-input-container class="mdInput">
        <input mdInput
               #password="ngModel"
               placeholder="Ingrese su password"
               [(ngModel)]="user.password"
               required
               name="password"
               type="password">
          <md-hint *ngIf="!password.valid && password.touched">
            <span *ngIf="password.errors.required"> Este campo es requerido </span>
          </md-hint>
      </md-input-container>
    </div>
    <div class="col-12 text-center">
      <button md-raised-button type="submit" [disabled]="!heroForm.valid" color="primary">Iniciar Sesión</button>
    </div>
    <div class="text-error">
      <span *ngIf="_login.touch && !_login.isLogin"> Usuario y/o contraseña incorrecta </span>
    </div>
  </form>
</md-card>
