<md-card class="login-card">
  <md-card-title class="text-center">Data Enriquecida</md-card-title>
  <div class="col-12 text-center">
    <md-input-container class="mdInput">
      <input mdInput placeholder="usuario (deshabilitado)" disabled value="wsaccaco" autocomplete="off" >
    </md-input-container>
  </div>
  <div class="col-12 text-center">
    <md-input-container class="mdInput">
      <input mdInput placeholder="Ingrese nuevo password" type="password">
    </md-input-container>
  </div>
  <div class="col-12 text-center">
    <md-input-container class="mdInput">
      <input mdInput placeholder="Repita nuevo password" type="password">
    </md-input-container>
  </div>
  <div class="col-12 text-center">
    <button md-raised-button type="button" color="primary"> <i class="material-icons">save</i> Guardar</button>
  </div>
</md-card>
